{% extends "main_layout.html" %} {%block content%}
<div id="content" class="container">
    <h3>Spot list</h3>

    <div class="row">
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target=".bs-example-modal-lg">Add spot</button>

        <div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
            <div class="modal-dialog modal-lg">
                <!--<div class="modal-content">-->
                <!--<div class="modal-body">-->
                <div class="row main">
                    <div class="main-login main-center">
                        <h6>New Spot Info.</h6>
                        <form id="spotFrm" method="post" action="/create">

                            <div class="form-group">
                                <label for="name" class="cols-sm-2 control-label">Name</label>
                                <div class="cols-sm-10">
                                    <div class="input-group">
                                        <span class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"></i></span>
                                        <input type="text" class="form-control" name="name" id="name" placeholder="Enter spot's Name" />
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="email" class="cols-sm-2 control-label">Location</label>
                                <div class="cols-sm-10">
                                    <div class="input-group">
                                        <span class="input-group-addon"><i class="fa fa-envelope fa" aria-hidden="true"></i></span>
                                        <input type="text" class="form-control" name="location" id="location" placeholder="Enter your Location" />
                                    </div>
                                </div>
                            </div>

                            <div class="form-group ">
                                <a href="javascript:{}" onclick="document.getElementById('spotFrm').submit();" type="button" id="button" class="btn btn-primary btn-lg btn-block login-button">Register</a>
                            </div>

                        </form>
                    </div>
                </div>

                <!--</div>-->
                <!--</div>-->
            </div>
        </div>
    </div>

    <div class="row">
        <table id="example" class="table table-striped table-bordered" cellspacing="0" width="100%">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Position</th>
                    <th>Office</th>
                    <th>Age</th>
                    <th>Start date</th>
                    <th>Salary</th>
                </tr>
            </thead>
            <!--<tfoot>
            <tr>
                <th>Name</th>
                <th>Position</th>
                <th>Office</th>
                <th>Age</th>
                <th>Start date</th>
                <th>Salary</th>
            </tr>
        </tfoot>-->
            <tbody>
                {% for spot in spots %}
                <tr>
                    <td>{{spot._id}}</td>
                    <td>{{spot.name}}</td>
                    <td>null</td>
                    <td>null</td>
                    <td>null</td>
                    <td>null</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{%endblock%}